<style>
    .box_search {
        display: none !important;
    }

    .header.banner {
        height: 0 !important;
        margin-bottom: 7%;
    }
</style>

<div class="row">
    <div class="col-lg-6 col-12">
        <div class="bg_wrapper">
            <img class="w-100" style="height: 86vh;"
                src="https://vcdn1-giadinh.vnecdn.net/2014/08/04/FPT-02-perspective-1407125626.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=umjagvDi9Hops3kRqAvW0w"
                alt="">
            <img class="bg_logo w-50" src="/images/logo.png" alt="">
        </div>
    </div>

    <div class="col-lg-6 col-12">
        <div class="mt-5 px-5">
            <div class="d-flex align-items-center mb-5">
                <a style="color: #212529;" class="text-decoration-none fs-3" href="#/register">Đăng ký</a>
                <a style="color: #212529;" class="text-decoration-none fs-3 mx-4 text-danger" href="#/login">Đăng
                    nhập</a>
            </div>

            <form name="form">
                <label for="">Tên đăng nhập</label>
                <input name="username" ng-required="true" minlength="6" ng-model="username" type="text"
                    placeholder="Tên đăng nhập"
                    class="bg-body-secondary border-0 rounded-3 px-4 py-3 fs-6 w-100 mt-3 mb-2">
                <p class="mb-3 form_error" ng-show="form.username.$error.required && form.username.$dirty">Vui lòng nhập
                    tên đăng nhập</p>
                <p class="mb-3 form_error" ng-show="form.username.$error.minlength && form.username.$dirty">Vui lòng
                    nhập tên đăng nhập có ít nhất 6 ký tự</p>

                <label for="" class="mt-3">Mật khẩu</label>
                <div class="box_inputPass position-relative">
                    <input name="password" ng-required="true" minlength="6" ng-model="password"
                        type="{{(showPass)?'password':'text'}} " placeholder="Mật khẩu"
                        class="bg-body-secondary border-0 rounded-3 px-4 py-3 fs-6 w-100 mb-2 mt-3">
                    <span style="right: 2%; top: 50%; transform: translateY(-40%);" class="toggleShow position-absolute"
                        ng-click="togglePass()"><i
                            class="fs-5 text-secondary {{(showPass)?'bi bi-eye-fill':'bi bi-eye-slash-fill'}}"></i></span>
                </div>
                <p class="mb-3 form_error" ng-show="form.password.$error.required && form.password.$dirty">Vui lòng nhập
                    mật khẩu</p>
                <p class="mb-3 form_error" ng-show="form.password.$error.minlength && form.password.$dirty">Vui lòng
                    nhập mật khẩu có ít nhất 6 ký tự</p>

                <div class="d-flex justify-content-end my-2">
                    <a style="color: #212529;" href="#/forget_pass">Quên mật khẩu ?</a>
                </div>
                <button ng-click="login()" ng-disabled="form.$invalid"
                    class="btn btn-danger my-3 rounded-3 py-3 w-100">Đăng nhập</button>
                <a class="btn btn-light  rounded-3 py-3 w-100" href="#/register">Mới sử dụng Polytest? Tạo tài khoản</a>
            </form>

        </div>
    </div>
</div>